.about {
  min-height: 100vh;
  background-color: #EDE4AB;

  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;
  color: #AD3C1B;
}
h2{
    font-size: 60px;
}
.navigation a {
  font-size: 40px;
  margin: 0 20px;
  top: 20px;
}
p{
    font-size: 30px;
}
img{
    width: 300px;
    height: auto;
    border-radius: 30pt;
}